%head
  %title Home | Advantage Geophysics Inc

<div id="header_wrapper">
  <div id="inner_header_wrapper">

    <header id="header" role="banner">

      <div class="top_left">
                  <div id="logo"><a class="logo_desktop" href="/" title="Home"><img src="https://placeholderlogo.com/img/placeholder-logo-1.png"/></a><a  class="logo_mobile" href="/" title="Home"><img src="https://placeholderlogo.com/img/placeholder-logo-1.png" alt="Logo"/></a></div>
          <div id="logo_mobile"></div>
            <h1 id="site-title">
          <a href="/" title="Home">Advantage Geophysics Inc</a>
          <div id="site-description"></div>
        </h1>
      </div>

      <div class="top_right visible_desktop">
        
        <div class="search_block">
           <p>Phone : 858-555-5555 | Fax : 858-555-5555 | Email : info@advantagegeophysics.com</p>
        </div>

      </div>
      <div class="top_right visible_mobile">
        
        <div class="search_block">
          <p>Phone : 858-555-5555</p> 
          <p>Fax : 858-555-5555 </p>
          <p>Email : info@advantagegeophysics.com</p>
        </div>

      </div>

    <div class="clear"></div>

    </header>
    <div class="menu_wrapper">
      <nav id="main-menu"  role="navigation">
        <a class="nav-toggle" href="#">Main Menu <span class="selector"></span></a>
        <div class="menu-navigation-container">
          <ul class="menu"><li class="first leaf"><a href="/" id="home" class="active">Home</a></li>
<li class="leaf"><a href="/corporate_profile">Corporate Profile</a></li>
<li class="expanded"><a href="/geophysical-methods">Geophysical Methods</a><ul class="menu"><li class="first leaf"><a href="/gpr_imaging">Ground Penetrating Radar (GPR) Imaging</a></li>
<li class="leaf"><a href="/magnetics">Magnetics</a></li>
<li class="leaf"><a href="/line_tracing">Line Tracing</a></li>
<li class="leaf"><a href="/seismic_refraction">Seismic Refraction</a></li>
<li class="leaf"><a href="/electromagnetic_induction">Electromagnetic Induction (EM)</a></li>
<li class="leaf"><a href="/resistivity_depth_dounding_profiling">Resistivity Depth Sounding &amp; Profiling</a></li>
<li class="leaf"><a href="/seismic_tomography">Seismic Tomography</a></li>
<li class="leaf"><a href="/very_low_frequency">Very Low Frequency (VLF)</a></li>
<li class="leaf"><a href="/controlled-source-audio-magnetotellurics">CSAMT/MT</a></li>
<li class="leaf"><a href="/seismic-shearwave-surveys">Seismic Shearwave Surveys (ReMi/MASW)</a></li>
<li class="leaf"><a href="/gravity">Gravity</a></li>
<li class="leaf"><a href="/seismic_downhole_crosshole_surveys">Seismic Downhole &amp; Crosshole Surveys</a></li>
<li class="last leaf"><a href="/blast-vibration-monitoring">Blast &amp; Vibration Monitoring</a></li>
</ul></li>
<li class="leaf"><a href="/range_of_projects">Range of Projects</a></li>
<li class="expanded"><a href="/key-personnel">Key Personnel</a><ul class="menu"><li class="first leaf"><a href="/hans_van">Hans Van De Vrugt, PG, CEG, PGP</a></li>
<li class="leaf"><a href="/patrick_lehrmann">Patrick F. Lehrmann, PG, PGP</a></li>
<li class="leaf"><a href="/afrildo_Iko_syahrial">Afrildo Iko Syahrial</a></li>
<li class="leaf"><a href="/aaron_puente">Aaron Puente</a></li>
<li class="leaf"><a href="/eric_carlson">Eric Carlson</a></li>
<li class="leaf"><a href="/mark_edwards">Mark D. Edwards, RG</a></li>
<li class="last leaf"><a href="/amanda_barbagallo">Amanda Barbagallo</a></li>
</ul></li>
<li class="expanded"><a href="/case_histories">Case Histories</a><ul class="menu"><li class="first collapsed"><a href="/rippability"> Seismic Refraction</a></li>
<li class="collapsed"><a href="/landfill_study">Magnetics</a></li>
<li class="collapsed"><a href="/void_survey">Ground Penetrating Radar (GPR) Imaging</a></li>
<li class="collapsed"><a href="/landfill_depth_profiling">Resistivity Profiling and Sounding</a></li>
<li class="collapsed"><a href="/shear_and_compression_wave_measurements">Seismic Downhole</a></li>
<li class="collapsed"><a href="/em_and_gpr_survey">Electromagnetic Induction (EM)</a></li>
<li class="last collapsed"><a href="/utility_as-built-creation-survey">Line Tracing</a></li>
</ul></li>
<li class="last leaf"><a href="/contact-us" title="Contact Us">Contact Us</a></li>
</ul>        </div>
        <div class="clear"></div>
      </nav><!-- end main-menu -->
    </div>
  </div>
</div>