.container-fluid
    %footer.pt-4.my-md-5.pt-md-5.border-top
        .row
            .col-6.col-md-3.offset-md-3.text-center
                %h5 Contact Info
                Phone : 858-555-5555 | Fax : 858-555-5555 | Email : info@advantagegeophysics.com